{% extends 'trainer/base.html' %}
{% load static %}

{% block title %}Тестирование{% endblock title %}

{% block content %}
    <div class="test-container">
        <div class="test-text">
            <p id="text-to-type">{{ text_to_type }}</p>
        </div>
        <input type="text" id="user-input" placeholder="Начни печатать..." autocomplete="off">
    </div>

    <div id="results" class="result" style="display: none;">
        <span style="color: #052c65">Тест пройден! Результаты тестирования:</span>
        <div id="result-errors"><i class="fas fa-exclamation-circle"></i> <span id="errors-count"></span></div>
        <div id="result-time"><i class="fas fa-clock"></i> <span id="time-taken"></span></div>
        <div id="result-speed"><i class="fas fa-tachometer-alt"></i> <span id="speed-count"></span></div>
        <div id="result-accuracy"><i class="fas fa-check-circle"></i> <span id="accuracy"></span></div>
    </div>

    <div class="refresh-button-container">
        <img src="{% static 'img/refresh.png' %}" alt="" id="refresh-button" class="refresh-button" onclick="window.location.reload();">
    </div>
{% endblock content %}
