{% extends 'trainer/base.html' %}
{% load static %}

{% block title %}Вход{% endblock title %}

{% block content %}
<div class="login-container">
    <h2 class="text-center mt-4" style="font-family: 'Prosto One', sans-serif; font-size: 24px;">Вход</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Введите имя пользователя">
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Введите пароль">
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-3 register-btn">Войти</button>
    </form>

    <p class="text-center mt-3" style="font-size: 16px; font-family: 'Prosto One', sans-serif;">
        Нет аккаунта? <a href="{% url 'users:registration' %}" class="register-link">Зарегистрироваться</a>
    </p>
</div>
{% endblock content %}
