{% extends 'trainer/base.html' %}
{% load static %}

{% block title %}Свой текст{% endblock title %}

{% block content %}
    <div class="custom-container">
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    {% if 'custom' in message.tags %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'custom' %}">
            {% csrf_token %}
            <textarea name="custom_text" placeholder="Введите свой текст сюда..."></textarea>
            <button type="submit">Печатать</button>
        </form>
    </div>
{% endblock content %}